/* header css */

header > .container {
  padding: 20px 0;
}

.logo {
  color: white;
}

.logo img {
  width: 100px;
  height: 100px;
}

/* card */

.title,
.explanation {
  color: white;
  margin-bottom: 10px;
}

.title {
  font-size: 32px;
}

.explanation {
  font-size: 16px;
}

.video {
  margin-bottom: 10px;
}
